section {
  border: 15px solid black;
  height: 600px;
  text-align: center;
  width: 600px;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  margin: 22px;
  /* TODO: Add a padding property */
  padding: 17px;
  /* TODO: Add a border property */
  border: 10px solid darkblue;
}
