/* CSS Stylesheet */

* {
    margin:0;
    padding:0;
}

/* Element Selectors */
head {
    background-color: darkslategray;
    color: rgb(0, 153, 255)
}

header {
    height: 50px;
    width: 100%;
    line-height: 70px;
    background-color: darkslategray;
    color: rgb(0, 153, 255);
    border-bottom: 10px solid rgb(178, 178, 178);
}

a {
    color: rgb(0, 153, 255);
    font-size: 25px;
    font-family: fantasy;
}

body {
    position: relative;
    background-color: gray;
    color: rgb(0, 76, 255);
    font-family: fantasy;
}

main {
    /*padding: 25px;*/
}

h1 {
    color: rgb(0, 76, 255);
    padding: 15px;
    font-family: fantasy;
    border-bottom: 10px solid rgb(178, 178, 178);
}

img {
    display: block;
    margin: 100px auto;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

footer {
    height: 70px;
    width: 100%;
    line-height: 70px;
    background-color: darkslategray;
    color: rgb(0, 153, 255);
    border-top: 10px solid rgb(178, 178, 178);;
}

figure {
    position:relative;
    border: 20px solid blanchedalmond;
    height: 600px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #DDAF94;
    border-radius: 20px;
  }

h2 {
    padding-bottom: 10px;
}
label {
    display: inline-block;
    width: 100px;
}

input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

div {
    padding-top: 10px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
  font-family: fantasy;
  font-size: 20px;
}

section {
    margin-bottom: 0;
    padding: 10px 10px 20px 10px;
    border-top: 3px solid #DDAF94;
    background-color:  #E8CEBF;
    margin-top: 25px;
}

/* Class Selectors */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}