/* TODO: Label selector type */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* TODO: Label selector type */

/* Styles background color for body */
body {
  background-color: lemonchiffon;
}

/* Styles background color, font color, height, spacing for header & footer */
header,
footer {
  background-color: #191970;
  color: #f0ead6;
  height: 100px;
  line-height: 100px;
  width: 100%;
}

/* Styles backgound color and width for figure */
figure {
  background-color: #f0ead6;
  width: 200px;
}

/* TODO: Label selector type */
/* Makes font bold */
.highlighted-text {
  font-weight: bolder;
}

/* TODO: Label selector type */
/* Styles background color */
#contact-section {
  background-color: #f0ead6;
}
