header {
    color: rgb(59, 248, 59);
    font-size: large;
    background-color: rgb(44, 44, 44);
    padding: 20px;
}

body {
    background-color: rgb(44, 44, 44);
    color: rgb(59, 248, 59);
    font-size: medium;
}

main {
    /*display: flex;*/
    margin-top: 2%;
    flex-wrap: wrap;
}


h2{
    margin-block-end: 8px;
    margin-block-start: 8px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    flex-wrap: wrap;
    margin-top: 30px;
}

.boxes{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}
.fbox {
    border: dashed;
    /*display: flex;*/
    border-color: white;
    border-width: 2px;
    flex: 1 0 200px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.box-header {
    text-align: center;
    border: solid;
    /*display: flex;*/
    flex-wrap: wrap;
    border-color: white;
    flex: 1 0 200px;
    border-width: 2px;
    position: relative;
    margin: -20px;
    padding: 5px 10px;
    background-color: rgb(44, 44, 44);
}

p {
    display: block;
    flex-wrap: wrap;
}

pre {
    text-align: left;
}
.code-box {
    background-color: rgb(59, 248, 59);
    color: white;
    display: flex;
    border-radius: 20px;
    justify-content: left;
    padding: 10px 12px;
    align-items: center;
    margin-top: 10px;
}

code:active {
    user-select: all;
  }